<!-- Lista de errores del backend -->
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div style="padding-top: 10px;">
  <div class="card">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form #clienteForm="ngForm">
        <!-- Nombre -->
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <!-- required minlength="4" -->
            <input
              type="text"
              class="form-control"
              [(ngModel)]="cliente.nombre"
              name="nombre"
              #nombre="ngModel"
            />
            <!-- Si existen errores en el frontEnd -->
            <!-- <div
              class="alert alert-danger"
              *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            >
              <div *ngIf="nombre.errors.required">
                Nombre es requerido
              </div>
              <div *ngIf="nombre.errors.minlength">
                Nombre debe tener al menos 4 caracteres
              </div>
            </div> -->
          </div>
        </div>
        <!-- Apellidio -->
        <div class="form-group row">
          <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="cliente.apellido"
              name="apellido"
              #apellido="ngModel"
            />
            <!-- Si existen errores -->
            <!-- <div
              class="alert alert-danger"
              *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
            >
              <div *ngIf="apellido.errors.required">
                Apellido es requerido
              </div>
            </div> -->
          </div>
        </div>
        <!-- Email -->
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Email</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="cliente.email"
              name="email"
              #email="ngModel"
            />
            <!-- Si existen errores -->
            <!-- <div
              class="alert alert-danger"
              *ngIf="email.invalid && (email.dirty || email.touched)"
            >
              <div *ngIf="email.errors.required">
                Email es requerido
              </div>
              <div *ngIf="email.errors.email">
                Email debe tener formato válido (Ejemplo: danicode@mail.com)
              </div>
            </div> -->
          </div>
        </div>
        <!-- Fecha -->
        <div class="form-group row">
          <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
          <div class="col-sm-6">
            <input
              type="date"
              class="form-control"
              [(ngModel)]="cliente.createAt"
              name="createAt"
            />
          </div>
        </div>
        <!-- Región -->
        <div class="form-group row">
          <label for="region" class="col-form-label col-sm-2">Región</label>
          <div class="col-sm-6">
            <select
              [compareWith]="compararRegion"
              class="form-control"
              
              [(ngModel)]="cliente.region"
              name="region"
            >
              <option [ngValue]="undefined"
                >--- [selecionar una región] ---</option
              >
              <option *ngFor="let region of regiones" [ngValue]="region">{{
                region.nombre
              }}</option>
            </select>
          </div>
        </div>
        <!-- Botón  -->
        <div class="form-group row">
          <div class="col-sm-8">
            <button
              *ngIf="!cliente.id; else elseBlock"
              class="btn btn-primary btn-block"
              role="button"
              (click)="create()"
              [disabled]="!clienteForm.form.valid"
            >
              Crear
            </button>
            <!-- Si el id no es nulo -->
            <ng-template #elseBlock>
              <button
                class="btn btn-primary btn-block"
                role="button"
                (click)="update()"
                [disabled]="!clienteForm.form.valid"
              >
                Actualizar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
